body,
html {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	image-rendering: pixelated;
	background-color: purple;
}
.game-canvas {
	position: absolute;
	width: 100%;
	height: auto;
	background-color: lavender;
}
